* {
  padding: 0;
  margin: 0;
}
.header{
  display:flex;
  flex-direction: column;
}
  #header_section{
  display:flex;
	width: 930px;
	height: 255px;	
	margin:0 auto;
	padding: 0 15px;
	background: url(../src/assests/header_bg.jpg) no-repeat;	
}
table, th, td {
	border: 1px solid black;
  }
  .cmt-button {
	padding: 15px 25px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #3da1ac;
	border: none;
	border-radius: 20px;
	/* box-shadow: 0 9px #999; */
  }
  .edit-btn{
	padding: 5px 15px;
	font-size: 10px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	background-color: #3da1ac;
	border: none;
	border-radius: 20px;
  }
  .cmt-button:hover {background-color: #11616a}
  .cmt-button:active {
	background-color: #11616a;
	/* box-shadow: 0 5px #666; */
	transform: translateY(4px);
  }
  .edit-btn:hover {background-color: #11616a}	
  .edit-btn:active {
	background-color: #11616a;
	/* box-shadow: 0 5px #666; */
	transform: translateY(4px);
  }
#menu_panel {
	clear: both;
	width: 100%;
	height: 48px;	
	margin: 0 auto;
	color: #ffffff;
	background: url(../src/assests/menu_bg.jpg) repeat-x;
}

#menu_panel #menu_section {
	width: 930px;
	height: 48px;	
	margin:0 auto;
	padding: 0 0 0 30px;
	color: #03a0a6;
}

#menu_section ul {
	float: left;
	width: 930px;
	margin: 0;
	padding: 6px 0 0 0;
	list-style: none;
}

#menu_section ul li {
	display: inline;
}

#menu_section ul li .lastmenu{
	border-right: none;
}

#menu_section ul li a {
	float: left;
	width: 110px;
	padding: 5px 0;
	margin-right: 5px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #2f2e27;
	border-right: 1px solid #4c4a3c;	
}

#menu_section li a:hover, #menu_section li .current {
	color: #ffffff;
}
#header_section #search_box {
	float: right;
	margin-top: 205px;
	width: 245px;
	padding-left: 15px;
	height: 30px;
}

#search_box #search_field{
	background: none;
	border: none;
	font-size: 13px;
	font-variant: normal;
	height: 18px;
	line-height: normal;
	padding: 4px;
	width: 150px;
}

#search_box #search_button {
	cursor: pointer;
	background: none;
	border: none;
	font-size: 12px;
	font-weight: bold;
	height: 26px;
	margin: 0 0 0 15px;
	padding: 0 6px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	width: 50px;
}
#footer_panel{
  display: flex;
justify-content: center;
  width:100%;
	height: 50px;
	margin: 0 auto;
	background-color: #151513;
	border-top: 1px solid #36352c;
}
#footer_panel #footer_section{
color: white;
}
#content_panel {
  display: flex;
  justify-content: center;
	clear: both;
	width:100%;
	margin: 0 auto;
	color: #ffffff;
	background: url(../src/assests/content_bg.jpg) repeat;
	box-shadow: inset 150px 0 150px -150px #333,inset -150px 0 150px -150px #333;
}
a:link, a:visited { color: #f4d153; text-decoration:none;} 
a:active, a:hover { color: #f4d153; text-decoration: underline;}

h1 {
	margin: 0px;
	padding: 10px 0;
	font-size: 26px;
	color: #11616a;
	font-weight: bold;
}
.button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #6dbd8e;
  color: #ffffff;
  padding: 0.4rem;
}
.button:active {
  background-color: #7dce9f;
}
.buttonText {
  display: flex;
  color: #ffffff;
}
#content #content_right {
	float: left;
	width: 590px;
}

#content_right .post_section {
	clear: both;
	margin-bottom: 25px;
}

.post_section .date_section {
	float: left;
	display: inherit;
	font-size: 30px;
	font-weight: bold;
	width: 70px;
	height: 60px;
	padding: 30px 0 0 30px;
	margin-right: 15px;
	background: url(../src/assests/date_bg.png) no-repeat;
}

.date_section span {
	display: block;
	margin-top: 8px;
	font-size: 15px;
	font-weight: bold;
} 

.post_section .post_content {
	float: left;
	display: inline;
	width: 475px;
}

.post_content .post_title {
	width: 475px;
	margin: 0 0 15px 0;
	padding: 0 0 15px 0;
	font-size: 26px;
	font-weight: bold;
	color: #d77707;
	border-bottom: 1px solid #75715a;
}

.post_title .post_info{
	width: 100%;
	font-weight: normal;
	font-size: 12px;
	padding-top: 5px;
	color: #ffffff;
}
.post_body{
  display:flex;
  flex-direction: column;
  width:100%
}
.post_content .post_body{
	padding: 0 0 15px 0;
}

.post_content .post_body img{
	margin-bottom: 15px;
	border: 5px solid #7b7866;
}

.post_content .post_comment {
	padding-left: 20px;
	margin-left: 5px;
	background: url(../src/assests/comment_icon.png) bottom left no-repeat;
}

.leave_comment_section .leave_comment_section_title {
  color: #ded153;
  height: 40px;
  font-size: 22px;
  padding: 0px;
  margin-bottom: 12px;
}
.leave_comment_section_title{
  border-bottom: 1px dotted #666;
}
form {
  display: block;
  margin-top: 0em;
  border-bottom: 1px dotted #666;
}
.leave_comment_section {
  padding: 20px;
  background-color: #aba68b;
  border: 2px solid #7a765c;
  border-radius: 15px;
  max-height:250px;
  display:block;
	overflow-y: scroll;
}

#style-16::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-16::-webkit-scrollbar
{
	width: 0;  /* Remove scrollbar space */
    background: transparent;  
	/* width: 10px;
	background-color: #F5F5F5; */
}

#style-16::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-linear-gradient(top,
												#11616a 10%,
											  #7cbbc2 50%,
											  #408d96 75%,
											  #11616a 100%);
}

.leave_comment_section .form_row {
  width: 100%;
  margin-bottom: 15px;
  
}

.comments img{
	opacity: 1;
	filter: Alpha(opacity=100);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	  	 -o-border-radius: 4px;
			border-radius: 4px;
}
.post-comments-left{
	border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 45px;
	margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	 -o-border-radius: 4px;
    		border-radius: 4px;
	background: #fff;
	color: #6b6e80;
	position: relative;
	max-height: 120px;
}
.post-comments-right{
	border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 45px;
	margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	 -o-border-radius: 4px;
    		border-radius: 4px;
	background: #fff;
	color: #6b6e80;
	position: relative;
}

.blog-comment .meta {
	font-size: 13px;
	color: #aaaaaa;
	padding-bottom: 8px;
	margin-bottom: 10px !important;
	border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul{
	list-style-type: none;
	padding: 0;
	margin-left: 85px;
}

.blog-comment-form{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 40px;
}
.blog-comment img.avatar {
	position: relative;
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 35px;
	height: 35px;
}
.blog-comment a {
    color: #82b440;
    text-decoration: none;
}
.blog-comment h3,
.blog-comment-form h3{
	margin-bottom: 40px;
	font-size: 26px;
	line-height: 30px;
	font-weight: 800;
}
